# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# mysql://username:password@host:port/databaseName
DATABASE_URL=""

JWT_ACCESS_TOKEN_PRIVATE=""
JWT_ACCESS_TOKEN_PUBLIC=""
JWT_REFRESH_TOKEN_PRIVATE=""
JWT_REFRESH_TOKEN_PUBLIC=""
JWT_ACCESS_TOKEN_EXPIRES_IN=""
JWT_REFRESH_TOKEN_EXPIRES_IN=""